body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Список результатов */
#results {
    margin: 20px 0;
    padding: 0;
}

.result {
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.result:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#results p {
    font-size: 18px;
    margin: 5px 0;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.home-button {
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #0056b3;
}